$OrangeColor1:#f7eccf;
$RedColor:#ed6b5b;
$GreenColor1:#165954;
$GreenColor2: #EFF6E0;
$GreenColor3:#8BB174;
$GreenColor4:#426B69;
$GreenColor5:#222E50;
$DarkColor1:rgba(32, 30, 48, 1);
$DarkColor2:#242321;
$BlueColor1:#124559;
$BlueColor2:#598392;
$BlueColor3:#2D82B7;
$boxShadow:-1px 1px 1px black;
$borderRadius:11px;
$textShadow:-5px 0 0 $GreenColor1;
$mobileQuery:768px;